// Модные бренды
.brand{
	.container{
		flex-wrap: wrap;
	}
	&-title {
		width: 100%;
		h2{
			font-family: Montserrat, serif;
			font-weight: 700;
			font-size: 25px !important;
			color: $black;
		}
	}
	&-slider{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 30px 0;
		&-item{
			outline: none;
		}
	}
}