.breadcrumbs{
	margin-top: 30px;
	margin-bottom: 10px;
	&-list{
		p{
			font-weight: 600;
			font-size: 14px;
			color: $grey;
			a {
				color: $grey;
				text-decoration: none;
				margin: 0 10px;
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
	&-sort{
		&-list, &-item{
			outline: none;
			border: none;
			font-weight: 600;
			font-size: 14px;
			padding-right: 10px;
		}
	}
	&-categories, &-filter{
		display: none;
	}
}