.delivery {
	margin-bottom: 40px;
	.container {
		display: flex;
		flex-direction: column;
	}
	h1{
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 30px;
	}
	h2{
		font-weight: 700;
		font-size: 16px;
		margin-top: 15px;
	}
	p{
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 15px;
	}
	&-mobile{
		display: none;
	}
	&-table {
		margin-bottom: 30px;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		div{
			padding: 20px 35px;
			&:first-child{
				padding-left: 0;
			}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				font-weight: 700;
			}
			&:nth-child(3n){
				text-align: right;
			}
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(10),
			&:nth-child(11),
			&:nth-child(12) {
				background-color: $lightGrey;
			}
			&:nth-child(4),
			&:nth-child(10) {
				border-bottom-left-radius: 10px;
				border-top-left-radius: 10px;
			}
			&:nth-child(6),
			&:nth-child(12) {
				border-bottom-right-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
	}
}