// Первый экран
.main {
	padding: 30px 0;
	.container {
		flex-wrap: nowrap;
	}
	&-slider {
		position: relative;
		width: 66%;
		margin-right: 0 !important;
		margin-bottom: 20px;
		.swiper-slide {
			position: relative;
			outline: none;
			img {
				width: 100%;
				border-radius: 25px;
			}
		}
		.swiper-pagination-bullet {
			border-radius: 0;
			width: 70px;
			height: 3px;
			margin: 0 5px;
		}
		.swiper-pagination{
			width: 100%;
		}
		.swiper-pagination-bullet-active{
			background-color: $red;
		}
		.swiper-button-prev{
			outline: none;
			&:after{
				display: none;
			}
		}
		.swiper-button-next {
			transform: rotate(180deg);
			outline: none;
			&:after {
				display: none;
			}
		}
	}
	&-banner {
		flex: 1;
		margin-left: 30px;
		img {
			width: 100%;
			border-radius: 25px;
		}
	}
}