@media(max-width: 375px){
	.basket{
		&-product{
			&-item{
				&-title{
					h3{
						a{
							margin-bottom: 45px;
						}
					}
				}
			}
		}
	}
	.order{
		&-product{
			&-item{
				&-sum{
					&__mobile{
						margin-top: 5px;
					}
				}
				&-title{
					h3{
						> span{
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 345px) {
	.basket {
		&-product {
			&-item {
				&-title {
					h3 {
						a {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}