@media(max-width: 480px){
	.header{
		&-logo{
			img{
				width: 50%;
			}
		}
		&-order{
			&-basket{
				top: 25px;
			}
			&-profile{
				padding-left: 15px;
			}
			&-postponed{
				padding-left: 15px;
			}
		}
		&-sex{
			.woman{
				padding-right: 15px;
			}
		}
	}
	.main{
		padding-top: 0;
		padding-bottom: 10px;
		&-slider{
			.slick-list{
				border-radius: 10px;
			}
			.slick-dots{
				li{
					button{
						width: 30px;
					}
				}
			}
		}
	}
	.new{
		&-item{
			padding: 5px;
		}
	}
	.hot{
		&-item{
			padding: 5px;
		}
	}
	.brand{
		&-slider{
			&-item{
				img{
					width: 100%;
				}
			}
		}
	}
	.advantages{
		margin-top: 0;
		margin-bottom: 10px;
		&-item{
			img{
				width: 30px;
			}
			p{
				font-size: 10px;
			}
		}
	}
	.news{
		margin-bottom: 0;
		&-item{
			padding: 25px;
			&-big{
				padding: 25px;
				&-img{
					width: 100%;
				}
			}
			&-img{
				img{
					width: 100%;
				}
			}
		}
	}
}