@media(max-width: 480px){
	.header{
		&-logo{
			img{
				width: 50%;
			}
		}
		&-order{
			&-basket{
				top: 25px;
			}
			&-profile{
				padding-left: 15px;
			}
			&-postponed{
				padding-left: 15px;
			}
		}
		&-sex{
			.woman{
				padding-right: 15px;
			}
		}
	}
	.main{
		padding-top: 0;
		padding-bottom: 10px;
		&-slider{
			.swiper-pagination-bullet{
				width: 35px;
			}
		}
	}
	.new{
		&-item{
			padding: 5px;
		}
	}
	.hot{
		&-item{
			padding: 5px;
		}
	}
	.brand{
		&-slider{
			&-item{
				img{
					width: 100%;
				}
			}
		}
	}
	.advantages{
		margin-top: 0;
		margin-bottom: 10px;
		&-item{
			img{
				width: 30px;
			}
			p{
				font-size: 10px;
			}
		}
	}
	.news{
		margin-bottom: 0;
		&-item{
			padding: 25px;
			&-big{
				padding: 25px;
				&-img{
					width: 100%;
				}
			}
			&-img{
				img{
					width: 100%;
				}
			}
		}
	}
	.modal{
		&-submit{
			width: 100%;
		}
		&-dialog{
			margin: 30px auto;
		}
		&-content{
			padding: 30px 15px;
			input, button{
				width: 100%;
			}
		}
		&-close{
			font-size: 50px;
			top: -5px;
			right: 10px;
		}
	}
	.warning{
		.modal{
			&-dialog {
				width: 100%;
			}
			&-content {
				padding: 30px 15px;
			}
			&-social-auth{
				padding-top: 10px;
			}
		}
	}
	.recovery{
		form{
			h2{
				word-wrap: normal;
			}
		}
	}
	.menu-mobile{
		.modal{
			&-content{
				border-radius: 0;
				border-bottom-right-radius: 20px;
			}
			&-dialog {
				margin-top: 0;
				margin-right: 40px;
			}
		}
	}
	.product{
		padding-top: 10px;
		&-slider{
			height: 290px;
		}
		&-thumbs{
			height: 90px;
			margin-top: 10px;
		}
		h1{
			margin-top: 15px;
		}
	}
	.basket{
		&-product{
			&-item{
				&-img{
					width: 90px;
					height: 90px;
				}
				&-title{
					left: 110px;
					margin-left: 0;
					h3{
						a {
							font-size: 12px;
							margin-bottom: 70px;
							margin-bottom: 45px;
						}
					}
					span{
						background: none;
						padding: 0;
					}
				}
				&-sum{
					left: 110px;
					top: 60%;
					input{
						margin: 5px;
					}
				}
				&-price{
					bottom: 20px;
				}
				&-delete{
					top: 0;
				}
			}
		}
		&-total{
			padding: 30px; 
		}
	}
}