// Модальные окна
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	overflow-y: scroll;
	&-dialog {
		max-width: 380px;
		margin: 50px auto;
	}

	&-content {
		padding: 50px 60px 70px 60px;
		position: relative;
		width: 100%;
		background-color: $white;
		border-radius: 15px;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	}

	form {
		border: none;
		display: flex;
		flex-direction: column;

		h2 {
			font-weight: 700;
			font-size: 24px;
			color: $black;
			padding-bottom: 5px;
		}

		label {
			font-weight: 400;
			font-size: 14px;
			margin-top: 15px;
			margin-bottom: 5px;
		}
	}

	input,
	textarea {
		position: relative;
		font-weight: 400;
		font-size: 14px;
		color: $black;
		padding: 12px 23px;
		border-radius: 5px;
		outline: none;
		border: 1px solid $grey;
		width: 100%;

		// &:invalid {
		// 	border: 2px solid red;
		// 	&:after {
		// 		position: absolute;
		// 		content: '<span>некорректный форма</span>';
		// 		bottom: -10px;
		// 		right: 0;
		// 	}
		// }
		&[type="password"] {
			font-size: 35px;
			padding: 0 23px;
		}
	}

	&-close {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 80px;
		color: $grey;
		cursor: pointer;
	}

	&-submit {
		font-weight: 700;
		font-size: 14px;
		border-radius: 5px;
		padding: 15px;
		width: 260px;
		border: none;
		margin-top: 25px;
		outline: none;
	}

	&-forgot {
		color: $grey;
		margin-top: 15px;
	}
}

.auth {
	display: none;
}

.warning {
	display: none;

	.modal {
		&-dialog {
			width: 285px;
		}

		&-content {
			width: inherit;
			padding: 50px 40px 40px 40px;
		}

		&-close {
			display: none;
		}
	}

	p {
		font-weight: 600;
		font-size: 14px;
		margin-bottom: 10px;
	}

	button {
		width: 200px;
		font-weight: 700;
		font-size: 14px;
		color: $white;
		border: none;
		border-radius: 5px;
		padding: 13px;
		margin: 5px 0;
	}
}

.recovery {
	display: none;

	p {
		font-weight: 400;
		font-size: 14px;
		margin-top: 15px;
	}
}

.registration {
	display: none;
	overflow-y: scroll;
	.modal-content {
		padding-bottom: 35px;
	}

	p {
		font-weight: 400;
		font-size: 10px;
		margin-top: 10px;

		a {
			color: $red;
		}
	}
}

.response {
	display: none;
	.modal {
		&-dialog {
			max-width: 730px;
		}
	}
}

.sizes{
	display: none;
	.modal{
		&-dialog{
			max-width: 80%;
		}
	}
	&-boobs,
	&-under-boobs,
	&-thighs {
		display: flex;
		align-items: center;
	}
	form {
		label {
			margin-top: 15px;
			margin-bottom: 15px;
			width: 250px;
			font-weight: 700 !important;
			font-size: 16px;
		}
	}
	&-rezult{
		display: flex;
		background-color: $pink;
		padding: 20px 50px;
		border-radius: 10px;
		margin: 30px 0;
		p{
			font-weight: 400;
			font-size: 16px;
			margin-right: 70px;
			span{
				font-weight: 700;
				margin-left: 15px;
			}
		}
	}
	&-table{
		display: grid;
		grid-template-columns: 2.5fr repeat(9, 1fr);
		grid-gap: 20px;
		&-one{
			font-weight: 700;
			padding-left: 35px;
			&:nth-child(1),
			&:nth-child(11),
			&:nth-child(21) {
				padding-left: 0;
			}
		}
	}
}

.menu-mobile{
	display: none;
	.modal{
		&-content{
			padding: 30px 40px;
		}
	}
	&-item{
		padding-top: 20px;
		list-style-type: none;
		a {
			font-weight: 500;
			color: $black;
			font-size: 18px;
			text-decoration: none;
			outline: none;
			&:hover {
				color: $red;
			}
		}
	}

	&-submenu{
		&-list{
			padding-left: 15px;	
		}
		&-item{
			padding-top: 20px;
			a{
				color: $darkGrey;
			}
		}
	}
	&-sex{
		display: flex;

		a{
			color: $grey;
			font-size: 16px;
			text-decoration: none;
			font-weight: 700;
			margin-right: 20px;
		}
		.active{
			a{
				color: $black;
				font-size: 16px;
				text-decoration: none;
			}
		}
	}
	&-nav{
		&-item{
			list-style-type: none;
			padding-top: 30px;
			a{
				font-weight: 700;
				font-size: 18px;
				color: $black;
				text-decoration: none;
			}
		}
	}
	&-phone {
		display: flex;
		align-items: center;
		margin-top: 30px;
		img{
			width: 24px;
			margin-right: 10px;
		}
		a {
			font-weight: 700;
			font-weight: 700;
			color: $black;
			font-size: 20px;
			text-decoration: none;
		}
	}
	&-social{
		margin-top: 30px;
		a{
			margin-right: 10px;
		}
	}
}

.catalog-filter {
	display: none;
	.modal{
		&-dialog{
			margin-left: 30px;
			margin-top: 0;
		}
		&-content{
			border: none;
			padding: 30px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&-sort{
		margin-left: -5px;
		&-list, &-item{
			outline: none;
			border: none;
			font-weight: 600;
			font-size: 14px;
			padding-right: 10px;
		}
	}
	a:hover {
		color: $red;
	}
	h3 {
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 20px;
		&:first-child{
			margin-top: 0;
		}
	}
	&-categories {
		&-item {
			list-style-type: none;
			font-weight: 500;
			font-size: 14px;
			margin-bottom: 15px;
			a {
				color: $black;
				text-decoration: none;
			}
		}
	}
	&-subcategories {
		&-item {
			list-style-type: none;
			font-weight: 500;
			font-size: 14px;
			margin-bottom: 10px;
			padding-left: 15px;
			&:first-child {
				margin-top: 15px;
			}
			&:last-child {
				margin-bottom: 15px;
			}
			a {
				color: $darkGrey;
				text-decoration: none;
			}
		}
	}
	&-brand,
	&-size {
		&-list {
			&__all {
				text-decoration: none;
				color: $red;
				font-weight: 700;
				font-size: 14px;
			}
		}

		&-item {
			list-style-type: none;
			margin-bottom: 15px;
			input[type="checkbox"] {
				margin-right: 10px;
				width: inherit;
			}
			label {
				font-weight: 500;
				font-size: 14px;
			}
		}
	}
	&-money {
		&-size {
			input[type="range"] {
				width: 100%;
				
			}
			&__first,
			&__last {
				width: 49%!important;
				background-color: $lightGrey;
			}
		}
	}
	button{
		margin-top: 30px;
		border: none;
		padding: 12px;
		border-radius: 5px;
	}
}

.show {
	display: block;
}

.hide {
	display: none;
}
