// Новинки
.new {
	&-title {
		width: 100%;
		h2{
			font-family: Montserrat, serif;
			font-weight: 700;
			font-size: 25px;
			color: $black;
		}
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-item {
		padding: 20px 0;
		border-radius: 25px;
		background-color: $white;
		&:hover {
			box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
			transform: scaleX(1.2);
			z-index: 99;
			.new-item__hover {
				transform: scaleX(0.83);
			}
			.new-item__like {
				display: block;
			}
		}
		&-photo {
			position: relative;
		}
		&__like {
			display: none;
			position: absolute;
			right: 15px;
			top: 15px;
		}
		&__discount {
			position: absolute;
			left: 0;
			bottom: 4px;
			background-color: $red;
			color: $white;
			font-family: Montserrat, serif;
			font-weight: 700;
			font-size: 14px;
			padding: 1px 7px;
			border-top-right-radius: 12px;
			&:empty {
				display: none;
			}
		}
		&-description {
			padding-top: 10px;
			&-price {
				span {
					font-family: Montserrat, serif;
					font-weight: 700;
					font-size: 14px;
					color: $black;
					margin-right: 15px;
				}
				s {
					font-family: Montserrat, serif;
					font-weight: 500;
					font-size: 14px;
					color: $grey;
				}
			}
			&-categories {
				&__brand {
					a {
						text-decoration: none;
						font-size: 14px;
						color: $black;
					}
				}
				&__active {
					font-size: 14px;
					color: $grey;
					a {
						text-decoration: none;
						font-size: 14px;
						color: $grey;
					}
				}
			}
		}
	}
	&-list{
		width: 78%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-select{
		width: 20%;
		a:hover{
			color: $red;
		}
		h3{
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 20px;
			margin-top: 30px;
			&:first-child{
				margin-top: 20px;
			}
		}
		&-categories{
			&-item{
				list-style-type: none;
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 15px;
				a{
					color: $black;
					text-decoration: none;
				}
			}
		}
		&-subcategories{
			&-item{
				list-style-type: none;
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 10px;
				padding-left: 15px;
				&:first-child {
					margin-top: 15px;
				}
				&:last-child{
					margin-bottom: 15px;
				}
				a{
					color: $darkGrey;
					text-decoration: none;
				}
			}
		}
		&-brand, &-size{
			&-list{
				&__all{
					text-decoration: none;
					color: $red;
					font-weight: 700;
					font-size: 14px;
				}
			}
			&-item {
				list-style-type: none;
				margin-bottom: 15px;
				input[type="checkbox"] {
					margin-right: 10px;
				}
				label {
					font-weight: 500;
					font-size: 14px;
				}
			}
		}
		&-money{
			&-size{
				input[type="range"]{
					width: 100%;
				}
				&__first, &__last{
					border-radius: 5px;
					background-color: $lightGrey;
					border: none;
					padding: 5px 10px;
					outline: none;
					width: 49%;
					margin-top: 10px;
				}
			}
		}
	}
}

.viewed{
	margin-top: 40px;
	margin-bottom: 50px;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 30px;

	.active {
		color: $white;
		background-color: $red;
	}

	a {
		font-weight: 600;
		font-size: 14px;
		color: $black;
		text-decoration: none;
		padding: 7px 12px;
		border-radius: 10px;

		&:hover {
			color: $black;
			background-color: $lightGrey;
		}
	}

	.all {
		color: $red;
		background-color: $lightGrey;
	}
}