.order{
	.container{
		flex-wrap: wrap;
		align-items: start;
	}
	h1{
		width: 100%;
		font-weight: 700;
		font-size: 24px;
		color: $black;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	&-product{
		width: 67%;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border-radius: 0 0 20px 20px;
		margin-bottom: 30px;
		&-header{
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 30px 50px;
			background-color: $lightGrey;
			border-radius: 20px 20px 0 0;
			span{
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 24px;
				color: $red;
				margin-right: 30px;
			}
			h4{
				flex: 1;
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 16px;
			}
			a{
				font-weight: 700;
				font-size: 14px;
				color: $red;
				text-decoration: none;
				border-bottom: 1px solid $red;
			}
		}
		&-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 40px 0;
			margin: 0 50px;
			border-bottom: 1px solid $lightGrey;
			&:last-child {
				border-bottom: none;
			}
			&-img{
				position: relative;
				width: 120px;
				height: 120px;
				img{
					width: 120px;
					height: 120px;
					object-fit: cover;
				}
			}
			&-title{
				max-width: 250px;
				h3{
					font-weight: 500;
					font-size: 16px;
					color: $black;
					> span{
						display: inline-block;
						font-weight: 400;
						font-size: 12px;
						color: $black;
						background-color: $lightGrey;
						padding: 5px 15px;
						border-radius: 20px;
						margin-top: 30px;
					}
				}
			}
			&-sum {
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 14px;
				color: $black;
				&__mobile{
					display: none;
				}
			}
			&-price {
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 16px;
				color: $black;
			}
		}
	}
	&-total {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-left: 30px;
		padding: 40px 45px;
		background-color: $lightGrey;
		border-radius: 10px;
		h2 {
			font-weight: 700;
			font-size: 20px;
			color: $black;
			margin-bottom: 10px;
		}
		&-bodytag {
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-top: 15px;
			span {
				font-size: 14px;
				color: $black;
				background-color: $lightGrey;
				z-index: 2;
				&:first-child {
					font-weight: 300;
					padding-right: 2px;
				}
				&:last-child {
					font-weight: 700;
					padding-left: 2px;
				}
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 4px;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 10px;
				border-bottom: 2px dotted $grey;
			}
		}
		&-sum {
			font-weight: 400;
			font-size: 14px;
			text-align: right;
			margin-top: 25px;
			span {
				font-weight: 700;
				font-size: 16px;
				color: $red;
				margin-left: 10px;
			}
		}
		&-promocode {
			font-weight: 400;
			font-size: 14px;
			color: $grey;
			padding: 10px 20px;
			border-radius: 5px;
			border: 1px solid $grey;
			outline: none;
			margin-top: 40px;
			&::placeholder {
				color: $grey;
			}
		}
		&-submit {
			font-weight: 700;
			font-size: 14px;
			color: $white;
			padding: 16px;
			border-radius: 5px;
			margin-top: 20px;
			background-color: $black;
			border: none;
			outline: none;
		}
	}
	&-delivery{
		width: 67%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border-radius: 0 0 20px 20px;
		margin-bottom: 30px;
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 30px 50px;
			background-color: $lightGrey;
			border-radius: 20px 20px 0 0;
			span {
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 24px;
				color: $red;
				margin-right: 30px;
			}
			h4 {
				flex: 1;
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 16px;
			}
			a {
				font-weight: 700;
				font-size: 14px;
				color: $red;
				text-decoration: none;
				border-bottom: 1px solid $red;
			}
		}
		&-method{
			display: flex;
			align-items: center;
			padding: 40px 70px;
			&-item{
				display: flex;
				align-items: center;
				margin-right: 60px;
				span{
					position: relative;
					display: block;
					width: 15px;
					height: 15px;
					background-color: $lightGrey;
					box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
					border-radius: 20px;
					margin-right: 15px;
					&:before{
						position: absolute;
						content: '';
						top: 3px;
						left: 3px;
						width: 9px;
						height: 9px;
						border-radius: 20px;
					}
				}
				label{
					display: flex;
				}
				input{
					margin-right: 15px;
					display: none;
				}
				input:checked + label span:before{
					background-color: $red;
				}
			}
		}
	}
	&-form{
		width: 67%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border-radius: 0 0 20px 20px;
		margin-bottom: 30px;
		padding-bottom: 40px;
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 30px 50px;
			background-color: $lightGrey;
			border-radius: 20px 20px 0 0;
			span {
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 24px;
				color: $red;
				margin-right: 30px;
			}
			h4 {
				flex: 1;
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 16px;
			}
			a {
				font-weight: 700;
				font-size: 14px;
				color: $red;
				text-decoration: none;
				border-bottom: 1px solid $red;
			}
		}
		&-data{
			display: flex;
			flex-direction: column;
			padding: 30px 50px;
			&-item{
				display: flex;
				flex-direction: column;
				label{
					font-weight: 500;
					font-size: 14px;
					margin-top: 15px;
					margin-bottom: 10px;
					span{
						color: $red;
					}
				}
				input{
					font-weight: 400;
					font-size: 14px;
					outline: none;
					padding: 15px 20px;
					border: 1px solid $grey;
					border-radius: 5px;
					&::placeholder{
						color: $grey;
					}
				}
			}
		}
	}
	&-payments{
		width: 67%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border-radius: 0 0 20px 20px;
		padding-bottom: 40px;
		margin-bottom: 70px;
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 30px 50px;
			background-color: $lightGrey;
			border-radius: 20px 20px 0 0;
			span {
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 24px;
				color: $red;
				margin-right: 30px;
			}
			h4 {
				flex: 1;
				font-family: Montserrat, serif;
				font-weight: 700;
				font-size: 16px;
			}
			a {
				font-weight: 700;
				font-size: 14px;
				color: $red;
				text-decoration: none;
				border-bottom: 1px solid $red;
			}
		}
		&-selection{
			display: flex;
			padding: 30px 40px;
			&-item{
				display: flex;
				align-items: center;
				margin-right: 65px;
				&-checkbox{
					position: relative;
					display: block;
					width: 15px;
					height: 15px;
					background-color: $lightGrey;
					box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
					border-radius: 20px;
					margin-right: 15px;
					&:before{
						position: absolute;
						content: '';
						top: 3px;
						left: 3px;
						width: 9px;
						height: 9px;
						border-radius: 20px;
					}
				}
				label{
					display: flex;
					align-items: flex-start;
					div{
						display: flex;
						flex-direction: column;
					}
					img{
						margin-bottom: 10px;
					}
					span{
						font-weight: 500;
						font-size: 12px;
						color: $grey;
					}
				}
				input{
					display: none;
				}
				input:checked + label .order-payments-selection-item-checkbox:before {
					background-color: $red;
				}
			}
		}
		&-total{
			display: flex;
			align-items: center;
			padding-left: 40px;
			button{
				font-weight: 700;
				font-size: 14px;
				border-radius: 5px;
				padding: 17px 45px;
				border: none;
			}
			&-wanted{
				font-size: 10px!important;
				margin-top: 10px;
				display: none;
				a{
					text-decoration: none;
					color: $red;
					border-bottom: 1px solid $red;
				}
			}
			p{
				font-weight: 400;
				font-size: 14px;
				color: $black;
				margin-left: 30px;
				span{
					font-family: Montserrat, serif;
					font-weight: 700;
					font-size: 16px;
					color: $red;
				}
			}
		}
	}
}